.sprint-view-container {
    height: 100vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column;
  }
  
  .sprint-view-content {
    height: 100vh;
    scroll-behavior: smooth;
    flex: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  